@use '../../styles/colors' as *;

.gmp .menu .categories {
    position: relative;
    height: 4em;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: -12px;
        top: 5px;
        display: flex;
        flex-direction: row;
        li {
            a {
                color: $bg-gray;
                display: block;
                padding: 16px;
                text-decoration: none;
                font-weight: 300;
                &:hover {
                    color: $primary;
                    cursor: pointer;
                    font-weight: 400;
                }
            }
            
        }
    }
}