@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;

.gmp .logo{
    .title {
        display: flex;
        align-items: center;
        h1 {
            font-size: 1.5em;
            color: $primary;
        }
        h1:not(.netflix) {
            font-weight: 300;
        }
    }
}