@use '../../styles/colors' as *;

.gmp .sort-by {
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:25%;
    .title {
        color: $bg-light;
        display: block;
        text-decoration: none;
        font-weight: 500;
        align-self: center;
        margin-right: 2em;
    }
    .select-sort {
        color: $bg-gray;
        padding-right: 0px;
        width: 11em;
        svg{
            color: $primary;
            margin-left: 1em;
        }
    }
}