@use '../../styles/colors' as *;

.gmp .search-bar {
  margin-top: 2.5em;
  width: 80%;
  display: inline-block;
  float: left;
  input {
    width: 100%;
    background-color: rgba(35, 35, 35, 0.8);
    border-radius: 3px;
    border: none;
    color: $bg-lighter;
    font-weight: 500;
    height: 3em;
    padding-left: 1em;
  }
}
