@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;

.gmp .footer {
    height: 4em;
    background-color: $bg-light;
    display: flex;
    justify-content: center;
    align-items: center;
}