.gmp .add-movie-button {
    button {
        cursor: pointer;
        outline: none;
        svg {
            vertical-align: sub;
            width: 10px;
        }
        span {
            vertical-align: middle;
            font-weight: 600;
        }
    }
}